@mixin nav-title($clsname: "nav-title") {
    .#{$clsname} {
        font-size: map-get($font-sizes, "xl");
        text-align: left;
        font-weight: map-get($font-weights, "bold");

        a {
            font-weight: inherit;
        }

        @include sm {
            text-align: center;
        }

        @include lg {
            font-size: map-get($font-sizes, "lg");
        }
    }
}

@mixin nav-list($clsname: "nav-list", $color: black) {
    .#{$clsname} {
        display: block;
        text-align: center;
        font-size: map-get($font-sizes, "md");
        overflow: hidden;
        height: 0px;

        transition-property: height margin-top;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;

        @include lg {
            margin-top: 0;
            height: fit-content;
            display: flex;
            align-items: center;
        }

        @content;
    }
    .#{$clsname}.open {
        margin-top: 1rem;
        height: calc(var(--nav-items) * 45px);
        @include lg {
            margin-top: 0;
            height: fit-content;
        }
    }
}

@mixin nav-item($clsname: "nav-item", $color: #000000) {
    .#{$clsname} {
        padding: 0 30px;
        transition-property: scale;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        margin-bottom: 1rem;
        color: dark($color);

        transition-property: height margin-top;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;

        @include lg {
            margin-bottom: 0;
            display: block;
        }

        &:hover {
            scale: 1.05;
        }

        .nav-link {
            font-weight: map-get($font-weights, "medium");
        }
    }
}

@mixin toggle-btn-pos {
    .toggle-btn-pos {
        position: absolute;
        top: 25px;
        right: 100px;
    }
}

@mixin navbar($clsname: "navbar", $color: map-get($colors, "dark")) {
    .#{$clsname} {
        position: relative;
        width: 100%;
        padding: $base-padding $base-padding * 2;
        background-color: light($color, 80%);
        @include lg {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        @content;
    }
}
