.box {
    height: 150px;
    width: 150px;
}

.bar {
    height: 30px;
}

.bg-box {
    width: 50px;
    height: 50px;
}

.grid-size {
    &::after {
        @include xs {
            content: "XS";
        }

        @include sm {
            content: "SM";
        }

        @include md {
            content: "MD";
        }

        @include lg {
            content: "LG";
        }

        @include xl {
            content: "XL";
        }
    }
}

#navbar-code {
    #navbar-description {
        li {
            list-style: disc;
        }
    }
}

#margin-code {
    #margin-description {
        li {
            list-style: disc;
        }
    }
}

#padding-code {
    #padding-description {
        li {
            list-style: disc;
        }
    }
}

#border-code {
    #border-description {
        li {
            list-style: disc;
        }
    }
}

#opacity-code {
    #opacity-description {
        li {
            list-style: disc;
        }
    }
}

#fontsize-code {
    #fontsize-description {
        li {
            list-style: disc;
        }
    }
}

#fontweight-code {
    #fontweight-description {
        li {
            list-style: disc;
        }
    }
}

#textalign-code {
    #textalign-description {
        li {
            list-style: disc;
        }
    }
}

#textcolor-code {
    #textcolor-description {
        li {
            list-style: disc;
        }
    }

    code {
        .row {
            p:nth-child(1),
            p:nth-child(2) {
                background-color: $light;
            }
        }
    }
}

#background-code {
    #background-description {
        li {
            list-style: disc;
        }
    }
}

#grid-code {
    #grid-description {
        li {
            list-style: disc;
        }
    }
}

#navbar-code,
#margin-code,
#padding-code,
#border-code,
#opacity-code,
#fontsize-code,
#fontweight-code,
#textalign-code,
#textcolor-code,
#background-code,
#grid-code {
    code {
        font-family: monospace;
        color: $dark;
    }
}
