.box {
    height: 150px;
    width: 150px;
}

#navbar-code {
    #navbar-description {
        li {
            list-style: disc;
        }
    }
}

#margin-code {
    #margin-description {
        li {
            list-style: disc;
        }
    }
}

#padding-code {
    #padding-description {
        li {
            list-style: disc;
        }
    }
}
#border-code {
    #border-description {
        li {
            list-style: disc;
        }
    }
}
#navbar-code,
#margin-code,
#padding-code,
#border-code {
    code {
        font-family: monospace;
        color: $dark;
    }
}
