@import "../mixins/mixin_navbar";

@each $key, $color in $comp-colors {
    $name: navbar-#{$key};
    @include navbar($name, $color) {
        @include nav-title;
        @include nav-list {
            @include nav-item($color: $color);
        }
        @include toggle-btn($color: $color);
    }
}

@include navbar();

.navbar-fixed {
    position: fixed;
    top: 0;
    z-index: 999;
}

body:has(.navbar-fixed) {
    margin-top: 6rem;
}
