@import "../mixins/mixin_navbar";
@import "../mixins/mixins_hamburger";

@each $key, $color in $comp-colors {
    $name: navbar-#{$key};
    @include navbar($name, $color) {
        @include nav-title;
        @include nav-list {
            @include nav-item($color: $color);
        }
        @include hamburger($clsname: "toggle-btn", $color: $color) {
            @include lg {
                display: none;
            }
            position: absolute;
            top: 25px;
            right: 100px;
        }
        // @include toggle-btn-pos;
    }
}

@include navbar() {
    @include nav-title;
    @include nav-list {
        @include nav-item();
    }
    @include hamburger($clsname: "toggle-btn") {
        @include lg {
            display: none;
        }
        position: absolute;
        top: 25px;
        right: 100px;
    }
    // @include toggle-btn-pos;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    z-index: 999;
}

body:has(.navbar-fixed) {
    margin-top: 6rem;
}
